.itemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 308px;
    height: 495px;
    border-radius: 20px;
    background: linear-gradient(to right top, #5F9C82, #31265C, #150640);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-family: "Exo 2";
    font-size: 50px;
    color: #5F9C82;
    margin: 0;
}

h3 {
    font-family: "Zen Dots";
    font-size: 24px;
    color: #5F9C82;
    margin: 0;
}